.header {
  height: 90px;
  padding: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
}

.header__nav {
  display: flex;
  flex: 1 1 auto;
  gap: 30px;
  justify-content: flex-end;
  text-shadow: 1px 1px 2px rgb(13, 12, 13);
}

.nav__link {
  font-size: 35px;
  transition: all 1s ease-in-out;
  &:hover {
    color: black;
    transition: all 1s ease-in-out;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    @keyframes pulsate {
      100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09,
          0 0 100px #f09, 0 0 150px #f09;
      }

      0% {
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09,
          0 0 94px #f09, 0 0 140px #f09;
      }
    }
  }
}
.header__logo {
  position: absolute;
  top: 3px;
  font-size: 40px;
  color: Gold;
  font-family: "HarryP_2";
  text-shadow: 1px 1px 2px rgb(13, 12, 13);
  height: 60px;
  width: 200px;
  background-image: url('./logo23.svg');
  background-size: 170px 100px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.213);
  border-radius: 25px;
  box-shadow: inset rgba(0, 0, 0, 0) 0 0 1px, inset rgba(56, 44, 29, 0.271) 0 15px 10px;
}
.cart__container {
  height: 50px;
  width: 90px;
  margin-left: 20px;
  display: flex;
}
.cart__num {
  height: 60px;
  width: 50px;
  background-image: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/16e855dd074766096135b3d744d755e3e01c5e56/cart7.svg');
  background-position: 100% -29%;
  background-size: 55px 50px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
}
.cart__price {
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  display: none;
}
