body {
    background-color: #000;
}
h1 {
    margin-top: 15px;
    text-align: center;
}
.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27328629-d3fe-4377-9627-76103332c20a/d3ef50q-7bd1d194-d4b3-43f1-a46f-98d76c1bdef8.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3MzI4NjI5LWQzZmUtNDM3Ny05NjI3LTc2MTAzMzMyYzIwYVwvZDNlZjUwcS03YmQxZDE5NC1kNGIzLTQzZjEtYTQ2Zi05OGQ3NmMxYmRlZjguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VlZqX6l514UUdBCp0XdB1gqwU_XJeEpje3zr8ZBV-q4");
    background-size: cover;
    height: 100%;
}
.filters__container {
    width: fit-content;
    height: fit-content;
    border: 1px solid violet;
    background-color: rgba(73, 1, 70, 0.471);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.reset__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.reset,
.copy {
    color: gold;
    border: 1px solid violet;
    background-color: rgba(73, 1, 70, 0.471);
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 0 0 10px 0.02em rgba(128, 128, 0, 0.652);
}
.reset:hover,
.copy:hover {
    background-color: #000;
    box-shadow: 0 0 10px 0.16em rgba(128, 128, 0, 0.652);
}
.filter-wood,
.filter-core,
.filter-length,
.filter-price {
    border: 1px solid gold;
    border-radius: 5px;
    margin: 10px;
}
.filter-wood__name,
.filter-core__name,
.filter-length__name,
.filter-price__name {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid gold;
    background-color: #544700;
}
.filter-wood__content,
.filter-core__content {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: gold;
    height: 107px;
    overflow: auto;
    padding: 3px;
}
.filter-length__content,
.filter-price__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: gold;
    height: 50px;
    overflow: auto;
    padding: 3px;
    margin: 0 5px;
}

// Scroll style

::-webkit-scrollbar {
    width: 20px;
    height: 8px;
    background-color: #544700;
}
::-webkit-scrollbar-thumb {
    background-color: #292300;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px gold;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #544700;
}
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: gold;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: gold;
}

// Checkbox style

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label {
    color: gold;
}
input[type="checkbox"]:not(:checked) + label {
    color: #7f7f7f;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #7f7f7f;
    background-color: #292300;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 5px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid gold;
    border-bottom: 3px solid gold;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.category {
    margin: 0 5px;
    scrollbar-color: gold #292300;
    scrollbar-width: auto;
}

input[type="range"] {
    appearance: none;
    width: 140px;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    border-radius: 1px;
    background: linear-gradient(grey, grey) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;

    &::-webkit-slider-thumb {
        height: 10px;
        width: 10px;
        border-radius: 28px;
        background-color: gold;
        position: relative;
        cursor: pointer;
        appearance: none;
        pointer-events: all;
        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 13px;
            left: 100%;
            width: 2000px;
            height: 2px;
        }
    }
}

.multi-range,
.multi-range2 {
    position: relative;
    height: 40px;

    input[type="range"] {
        position: absolute;
        left: -70px;
        top: 10px;

        &:nth-child(1) {
            &::-webkit-slider-thumb::before {
                background-color: rgb(248, 241, 241);
            }
        }

        &:nth-child(2) {
            background: none;

            &::-webkit-slider-thumb::before {
                background-color: grey;
            }
        }
    }
}

.product__container {
    margin-top: 50px;
    border-radius: 5px;
}
.view__settings {
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__list {
    background-color: rgba(73, 1, 70, 0.471);
    display: grid;
    width: 100%;
}
.settings__text {
    font-size: 2rem;
}
.sort__menu,
.search__menu {
    font-family: inherit;
    color: gold;
    font-size: 1.6rem;
    text-align: center;
    margin: 5px;
    padding: 3px;
    background-color: #292300;
    border: 1px solid violet;
    background-color: rgba(73, 1, 70, 0.471);
    border-radius: 5px;
    box-shadow: 0 0 10px 0.02em rgba(128, 128, 0, 0.652);
}
.search__menu {
    position: relative;
    bottom: 7px;
}
.search__menu::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.view {
    margin: 10px;
    padding: 4.5px;
    height: 30px;
    width: 30px;
    border: 1px solid violet;
    border-radius: 5px;
    fill: #fed700;
    cursor: pointer;
    background-image: url("https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/3e76a8a45bd81aa2a37fcb8846cfdd89b6eaf1ca/list.svg");
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.view.list {
    background-image: url("https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/3e76a8a45bd81aa2a37fcb8846cfdd89b6eaf1ca/grid.svg");
}

.product__item {
    max-width: 250px;
    min-height: 250px;
    box-shadow: 0 0 10px 0.03em rgba(128, 128, 0, 0.652);
    border-radius: 5px;
    background-size: 65% 65%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: rgba(2, 88, 81, 0.499);
    margin: 15px;
    padding: 10px;
    color: Gold;
    cursor: pointer;
}
.product__item:hover {
    box-shadow: 0 0 10px 0.03em rgba(156, 156, 2, 0.68);
}
.product__itemlist {
    width: 96%;
    height: 100px;
    box-shadow: 0 0 10px 0.03em rgba(128, 128, 0, 0.652);
    border-radius: 5px;
    background-size: 12% 100%;
    background-position: 3% 0%;
    background-repeat: no-repeat;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    background-color: rgba(2, 88, 81, 0.499);
}
.product__itemlist:hover {
    box-shadow: 0 0 10px 0.03em rgba(156, 156, 2, 0.68);
}

.prod__name {
    font-size: 1.7rem;
    text-align: center;
    padding: 0 10px;
    height: 50px;
}
.prod__desc {
    font-size: 1.2rem;
    color: rgb(153, 97, 208);
}
.buy__btn {
    color: #000;
    font-size: 2rem;
    background-color: gold;
    border-radius: 25px;
    margin: 10px;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0.16em rgba(128, 128, 0, 0.652);
}
.buy__btn:hover {
    background-color: goldenrod;
}
