body {
    background-color: #000;
}
h1 {
    text-align: center;
}
.products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.filters {
    width: 25vw;
    background-color: #292300;
    border: 1px solid gold;
    border-radius: 5px;
    height: 70vh;
}
.product__container {
    width: 67vw;
    border-radius: 5px;
    border: 1px solid gold;
}
.view__settings {
    background-color: #292300;
    border-radius: 5px;
    border-bottom: 1px solid gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__list {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}
.settings__text {
    font-size: 2rem;
}
.sort__menu,
.search__menu {
    font-family: inherit;
    color: gold;
    font-size: 1.6rem;
    text-align: center;
    margin: 5px;
    padding: 3px;
    background-color: #292300;
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow:  0 0 10px .02em rgba(128, 128, 0, 0.652);
}
.search__menu {
    position: relative;
    bottom: 7px;
}
.search__menu::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.view {
    margin: 10px;
    padding: 4.5px;
    height: 30px;
    width: 30px;
    border: 1px solid gold;
    border-radius: 5px;
    fill: #fed700;
    cursor: pointer;
    background-image: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/3e76a8a45bd81aa2a37fcb8846cfdd89b6eaf1ca/list.svg');
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.view.list {
    background-image: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/3e76a8a45bd81aa2a37fcb8846cfdd89b6eaf1ca/grid.svg');
}

.product__item {
    width: 250px;
    height: 250px;
    box-shadow:  0 0 10px .03em rgba(128, 128, 0, 0.652);
    border-radius: 5px;
    background-size: 65% 65%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}
.product__item:hover {
    box-shadow:  0 0 10px .03em rgba(156, 156, 2, 0.68);
}
.product__itemlist {
    width: 96%;
    height: 100px;
    box-shadow:  0 0 10px .03em rgba(128, 128, 0, 0.652);
    border-radius: 5px;
    background-size: 12% 100%;
    background-position: 3% 0%;
    background-repeat: no-repeat;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
}
.product__itemlist:hover {
    box-shadow:  0 0 10px .03em rgba(156, 156, 2, 0.68);
}

.prod__name {
    font-size: 1.7rem;
    text-align: center;
    padding: 0 10px;
    height: 50px;
}
.prod__desc {
    font-size: 1.2rem;
    color: #7f7f7f;
}
.buy__btn {
    color: #000;
    font-size: 2rem;
    background-color: gold;
    border-radius: 25px;
    margin: 10px;
    padding: 5px 10px;
    box-shadow:  0 0 10px .16em rgba(128, 128, 0, 0.652);
}
.buy__btn:hover {
    background-color: goldenrod;
}

